<p>about works!</p>
<div class="container">
    <div class="contentLeft">
      <div class="row">
          <div class="imgWrapper">
              <!-- <img src="https://images.unsplash.com/photo-1687579521048-217e24217d53?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcxNzl8&ixlib=rb-4.0.3&q=85" alt=""> -->
          </div>
          <div class="imgWrapper">
              <!-- <img src="https://images.unsplash.com/photo-1686580546412-80e80519abd7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcyMDN8&ixlib=rb-4.0.3&q=85" alt=""> -->
          </div>
          <div class="imgWrapper">
              <!-- <img src="https://images.unsplash.com/photo-1688133338995-a394ce7314e4?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcyMDN8&ixlib=rb-4.0.3&q=85" alt=""> -->
          </div>
          <div class="imgWrapper">
              <!-- <img src="https://images.unsplash.com/photo-1686354715732-7e4685269a25?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcyNzN8&ixlib=rb-4.0.3&q=85" alt=""> -->
          </div>
      </div>
    </div>
    <div class="contentRight">
      <div class="content">
        <h4>Welcome To</h4>
        <h2>About Us Title...</h2>
        <p>Amazon, founded by Jeff Bezos in 1994, is a global e-commerce giant that started as an online bookstore and has since expanded into a vast marketplace selling a wide range of products. It also offers Amazon Web Services (AWS), a leading cloud computing platform. Amazon Prime, its subscription service, provides benefits like free shipping and access to streaming content. Known for its technological innovations, such as the Kindle and Alexa, Amazon has a significant international presence and a sophisticated logistics network. The company is also committed to sustainability, aiming for net-zero carbon emissions by 2040.



        </p>
        <a href="#">Read More...</a>
      </div>
    </div>
  </div>
<app-table></app-table>

